@model IEnumerable<KKBusWebApp.Models.PRZEJAZDY>

@{
    //ViewBag.Title = "Zarządzanie przejazdami";
}

<h2>@ViewBag.HeaderH2</h2>

<p>
    @Html.ActionLink("Dodaj nowy przejazd", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PRZ_AKTYWNY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRZ_ODJAZD)
        </th>
        <th>
            Kierowca
        </th>
        <th>
            Relacja
        </th>
        <th>
            Pojazd
        </th>
        <th>
            Ilość rezerwacji
        </th>
        <th>
            Ilość miejsc
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PRZ_AKTYWNY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRZ_ODJAZD)
        </td>
        <td>
            <a href="@Url.Action("Index", "Grafik", new { employeeId = item.PRA_ID })">
                @Html.DisplayFor(modelItem => item.KIEROWCY.OSOBY.OSO_IMIE) 
                @Html.DisplayFor(modelItem => item.KIEROWCY.OSOBY.OSO_NAZWISKO)
            </a>
            @*@Html.DisplayFor(modelItem => item.KIEROWCY.OSOBY.OSO_IMIE)
            @Html.DisplayFor(modelItem => item.KIEROWCY.OSOBY.OSO_NAZWISKO)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KURSY.KUR_RELACJA)
        </td>
        <td>
            @*Action link do pojazdu*@
            @Html.DisplayFor(modelItem => item.POJAZDY.POJ_MARKA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REZERWACJE.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POJAZDY.POJ_MIEJSCA)
        </td>
        <td>
            @*@Html.ActionLink("Details", "Details", new { id = item.PRZ_ID })*@
            @if (ViewBag.PastMode == false)
            {
                @*<span>|</span> @Html.ActionLink("Edytuj", "Edit", new { id=item.PRZ_ID }) <span>|</span>*@  
                <span>|</span> @Html.ActionLink("Usuń", "Delete", new { id=item.PRZ_ID }) <span>|</span>
            }

        </td>
    </tr>
}

</table>

<p>
@{
    if (ViewBag.PastMode != true) { @Html.ActionLink("Poprzednie przejazdy", "Index", new { past = true }); }
 else { @Html.ActionLink("Aktualne przejazdy", "Index", new { past = false }); }
}
</p>
