@model IEnumerable<KKBusWebApp.Models.PRZEJAZDY>

@{
    ViewBag.Title = "Poprzednie przejazdy";
}

<h2>Poprzednie przejazdy</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PRZ_AKTYWNY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRZ_ODJAZD)
        </th>
        <th>
            Kierowca
        </th>
        <th>
            Relacja
        </th>
        <th>
            Ilość rezerwacji
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PRZ_AKTYWNY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRZ_ODJAZD)
            </td>
            <td>
                @*<a href="@Url.Action("Transactions", new { id=item.ID})">@Html.DisplayFor(modelItem => item.Balance)</a>*@
                @Html.DisplayFor(modelItem => item.KIEROWCY.OSOBY.OSO_IMIE)
                @Html.DisplayFor(modelItem => item.KIEROWCY.OSOBY.OSO_NAZWISKO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KURSY.KUR_RELACJA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REZERWACJE.Count)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.PRZ_ID })
            </td>
        </tr>
    }

</table>
