@model KKBusWebApp.Models.PRZEJAZDY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PRZEJAZDY</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PRZ_AKTYWNY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRZ_AKTYWNY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRZ_ODJAZD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRZ_ODJAZD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KIEROWCY.KIE_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KIEROWCY.KIE_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KURSY.KUR_RELACJA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KURSY.KUR_RELACJA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRACOWNICY.PRA_UPRAWNIENIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRACOWNICY.PRA_UPRAWNIENIA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PRZ_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
