@model KKBusWebApp.Models.REZERWACJE

@{
    ViewBag.Title = "Zarezerwuj";
}

<h2>Zarezerwuj</h2>

<div>
    <h4>Rezerwacja</h4>
	<hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.PRZEJAZDY.KURSY.KUR_RELACJA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRZEJAZDY.KURSY.KUR_RELACJA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REZ_CENA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REZ_CENA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KLIENCI.OSOBY.OSO_IMIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KLIENCI.OSOBY.OSO_IMIE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KLIENCI.OSOBY.OSO_NAZWISKO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KLIENCI.OSOBY.OSO_NAZWISKO)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.PRZ_ID)

            <div class="form-group">
                @*@Html.LabelFor(model => model.ULGI_REZERWACJA., "KUR_ID", new { @class = "control-label col-md-2" })*@
                Ilośc biletów
                <div class="col-md-10">
                    <input class="text-box single-line" data-val="true" data-val-number="" data-val-required="" id="TicketsNumber" name="Ilośc biletów" type="number" value="1" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
<p>
    @*@Html.ActionLink("Potwierdź rezerwację", "ConfirmReservation", new { id = Model.REZ_ID }) |*@
    @Html.ActionLink("Powrót do listy", "AvaiableReservations")
</p>
