@model KKBusWebApp.Models.PRACOWNICY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PRACOWNICY</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PRA_UPRAWNIENIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRA_UPRAWNIENIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OSOBY.OSO_IMIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OSOBY.OSO_IMIE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PRA_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
