@model KKBusWebApp.Models.NAGRODY_KLIENCI

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NAGRODY_KLIENCI</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAK_ADRES_WYSYLKI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAK_ADRES_WYSYLKI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOSTEPNE_NAGRODY.NAG_NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOSTEPNE_NAGRODY.NAG_NAZWA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KLIENCI.KLI_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KLIENCI.KLI_EMAIL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NAK_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
