@model KKBusWebApp.Models.TRASA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TRASA</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TRA_KOLEJNOSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRA_KOLEJNOSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRA_CZAS_PRZEJAZDU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRA_CZAS_PRZEJAZDU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRA_CENA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRA_CENA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KURSY.KUR_RELACJA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KURSY.KUR_RELACJA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRZYSTANKI.PRZY_NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRZYSTANKI.PRZY_NAZWA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TRA_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
