@model KKBusWebApp.Models.TANKOWANIA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TANKOWANIA</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TAN_ILOSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAN_ILOSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAN_KWOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAN_KWOTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAN_NASTEPNE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAN_NASTEPNE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAN_PRZEJECHANO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAN_PRZEJECHANO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KIEROWCY.KIE_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KIEROWCY.KIE_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POJAZDY.POJ_MARKA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POJAZDY.POJ_MARKA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TAN_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
