@model KKBusWebApp.Models.KURSY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KURSY</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KUR_RELACJA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KUR_RELACJA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KUR_NAZWA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KUR_NAZWA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KUR_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
